.Reedable * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
:root {
  --xs-font-size: 15px;
  --sm-font-size: 17px;
  --md-font-size: 18px;
  --lg-font-size: 18px;
  --xl-font-size: 18px;
  font-size: var(--xs-font-size);
}
@media only screen and (min-width: 321px) {
  :root {
    font-size: var(--sm-font-size);
  }
}
@media only screen and (min-width: 641px) {
  :root {
    font-size: var(--md-font-size);
  }
}
@media only screen and (min-width: 961px) {
  :root {
    font-size: var(--lg-font-size);
  }
}
@media only screen and (min-width: 1281px) {
  :root {
    font-size: var(--xl-font-size);
  }
}
.Reedable [id].Note:target {
  background-color: var(--color-highlight);
  outline: 0.25rem solid var(--color-highlight);
  border-radius: 0.125rem;
  transition: 1s;
}
.Reedable p {
  margin-bottom: 1rem;
}
.Reedable code {
  font-family: "Courier New", Courier, Monospace;
  font-size: 87.5%;
  color: var(--color-darker);
}
.Reedable pre {
  overflow-x: auto;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.Reedable pre code {
  margin: 0;
  font-size: 75%;
}
.Reedable a[href] {
  color: var(--color-link);
  text-decoration: none;
}
.Reedable a[href]:visited {
  color: var(--color-link-visited);
}
.Reedable a[href]:hover,
.Reedable a[href]:focus {
  margin-bottom: -0.125rem;
  border-bottom: 0.125rem solid;
}
.Reedable a[href]:focus {
  transition: 0.2s;
}
.Reedable header {
  margin-bottom: 1rem;
}
.Reedable header h1 {
  margin: 0;
}
.Reedable h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.Reedable h2 {
  margin-bottom: 1rem;
}
* + .Reedable h2 {
  margin-top: 20rem;
}
.Reedable h3 {
  margin-top: 1.75rem;
  margin-bottom: 0.875rem;
}
.Reedable h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
.Reedable h5 {
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}
.Reedable h6 {
  margin-top: 1.125rem;
  margin-bottom: 0.5625rem;
}
.Reedable dl {
  margin-bottom: 1rem;
}
.Reedable dl dt {
  margin-bottom: 0.25rem;
}
.Reedable dl dd {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}
.Reedable ol,
.Reedable ul {
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.Reedable ol li,
.Reedable ul li {
  margin-bottom: 0.25rem;
}
.Reedable ol ul,
.Reedable ul ul {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.Reedable abbr[title] {
  text-decoration: none;
}
.Reedable abbr[title]:not([tabindex])::after {
  content: " (" attr(title) ")";
}
.Reedable abbr[title][tabindex]:hover {
  border-bottom: 0.0625rem solid var(--color-link);
}
.Reedable abbr[title][tabindex]:focus::after {
  content: " (" attr(title) ")";
}
.Reedable hr {
  border-top: var(--border-thin) solid var(--border-color-darkest);
  margin: 1rem 0;
}
.Reedable address {
  display: inline-block;
}
.Reedable .Center {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 321px) {
  .Reedable .XS {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  .Reedable .SM {
    display: none;
  }
}
@media only screen and (min-width: 641px) {
  .Reedable .SM {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .Reedable .MD {
    display: none;
  }
}
@media only screen and (min-width: 961px) {
  .Reedable .MD {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  .Reedable .LG {
    display: none;
  }
}
@media only screen and (min-width: 1281px) {
  .Reedable .LG {
    display: none;
  }
}
@media only screen and (max-width: 1280px) {
  .Reedable .XL {
    display: none;
  }
}
.Reedable body {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}
.Reedable body header,
.Reedable body nav,
.Reedable body main,
.Reedable body footer {
  margin: 1rem;
}
.Reedable body > div {
  width: 100%;
}
@media only screen and (min-width: 641px) {
  .Reedable body > div {
    max-width: 640px;
  }
}
@media only screen and (min-width: 1281px) {
  .Reedable body > div {
    max-width: 1280px;
  }
  .Reedable body > div main {
    column-count: 2;
    column-gap: 3rem;
    column-rule: var(--border-thin) solid var(--border-color);
  }
}
@media only screen and (min-width: 1921px) {
  .Reedable body > div {
    max-width: 1920px;
  }
  .Reedable body > div main {
    column-count: 3;
    column-gap: 3rem;
    column-rule: var(--border-thin) solid var(--border-color);
  }
}
.Reedable .Byline {
  margin: 0.75rem 0 0rem 0;
  font-size: 0.875rem;
}
.Reedable nav.NavMenu ul {
  display: flex;
  margin: 0 0 1rem 0;
  border-bottom: var(--border-thin) solid var(--border-color-darkest);
}
.Reedable nav.NavMenu ul li {
  margin: 0;
  display: inline-block;
}
.Reedable nav.NavMenu ul li:first-child a {
  padding-left: 0;
}
.Reedable nav.NavMenu ul li a {
  display: inline-block;
  min-width: 44px;
  padding: 0.25rem 0.25rem;
  text-align: center;
  text-decoration: none;
}
.Reedable nav.NavMenu ul li a:visited {
  color: var(--color-link);
}
.Reedable nav.NavMenu ul li a:hover,
.Reedable nav.NavMenu ul li a:focus {
  border-bottom: 2px solid var(--color-link);
}
.Reedable .PictureFrame {
  margin: 1rem 0;
}
.Reedable .PictureFrame img {
  box-shadow: 0 0.1875rem 0.625rem black;
  border-radius: 0.25rem;
  width: auto;
  height: auto;
  max-height: 100vh;
}
.Reedable .QuestionAndAnswer dt:before {
  content: "Question: ";
}
.Reedable .QuestionAndAnswer dd {
  font-style: italic;
}
.Reedable .QuestionAndAnswer dd:before {
  content: "Answer: ";
}
.Reedable a.SkipLink {
  border: none;
  outline: 0.5rem solid var(--background-color);
  box-shadow: 0 0 0 0.5rem var(--background-color), 0 0 0 0.625rem var(--color-link);
  background-color: var(--background-color);
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.Reedable a.SkipLink:visited {
  color: var(--color-link);
}
.Reedable a.SkipLink:focus {
  position: static;
  width: auto;
  height: auto;
}
.SR {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.Reedable .SubHeading {
  font-size: 0.5em;
  font-weight: normal;
  font-style: italic;
}
.Reedable .Tag {
  font-size: 0.375em;
  font-weight: bolder;
  color: var(--color-alert);
  text-transform: uppercase;
}
.Reedable localized-number,
.Reedable span[is=localized-number] {
  background-color: inherit;
}
.Reedable {
  color: var(--color);
  background-color: var(--background-color);
}
