extends template/page

block title
  | Reedable | Blog

block header
  h1#Header(tabindex="-1")
    .Tag WTF
    | Reedable Blog
    .SubHeading Because everyone has one nowadays

block content

  h2 Coming soon...

//-  ul
//-   li: a(href="/Reedable/blog/2022/04/22/peril-of-metrics.html") Peril of metrics | Changing role of automated unit testing over SDLC
//-   li: a(href="/Reedable/blog/2022/04/27/why-edge-cases-matter.html") Why edge cases matter
