extends ../assets/template/page

block title
  | Reedable | About

block header
  h1#header-h1(tabindex="-1")
    .Tag BETA
    | About this site
    .SubHeading This is where I needlessly talk about the site itself

block content
  p Coming soon...
  // TODO We might as well create TODO webcomponent because we use TODO a lot
  // TODO Talk about general accessibility topic here
