extends ../../assets/template/page

block title
  | Reedable | Focus indicator

block header
  h1#header-h1.card(tabindex="-1")
    .tag Since v1.0.0
    | Focus indicator
    .sub-heading Displays browser's focus indicator on any websites

block content
  
  p Coming soon...