extends ../../assets/template/page

block title
  | Reedable | Font override

block header
  h1#header-h1(tabindex="-1")
    .tag Since v1.0.0
    | Font override
    .sub-heading Replaces fonts on websites

block content
  
  p Coming soon...