extends ../../assets/template/page

block title
  | Reedable | Text spacing

block header
  h1#header-h1(tabindex="-1")
    .tag Since v1.0.0
    | Text spacing
    .sub-heading Applies text spacing to websites

block content
  
  p Coming soon...