extends ../../../../assets/template/page

block title
  | Reedable | Blog

block header
  h1#header-h1(tabindex="-1")
    .Tag WTF
    | Reedable Blog
    .SubHeading Because everyone has one nowadays

block content

  h2 What's new in v1.2.0
   p
    .Byline By <address><a rel="author" href="mailto:reedable@oinklet.com">Abraham Reed</a> on <time is="localized-datetime" pubdate datetime="2022-05-20 Z-400">5/20/2022</time>

  p <a href="https://chrome.google.com/webstore/detail/reedable/pclaooilffnejdcfkkidelifcmmmehci?hl=en" title="Visit Chrome Web Store">Reedable Chrome Extension v1.2.0</a> is available for download.

  p v1.2.0 adds the following exciting new feature.

  ul 
    li <a href="#new-feature-link-information">Link information</a>

  h3#new-feature-link-information Link information 

  p Coming soon...

