extends ../assets/template/page

block title
  | Reedable | Docs

block header
  h1#header-h1(tabindex="-1")
    .tag v1.2.0
    | Reedable Docs
    .sub-heading Because we really should have one of these

block content

  h2 Features 

  ul 
    li: a(href="/Reedable/docs/feature/focus-indicator.html") Focus indicator
    li: a(href="/Reedable/docs/feature/font-override.html") Font override
    li: a(href="/Reedable/docs/feature/link-information.html") Link information
    li: a(href="/Reedable/docs/feature/text-spacing.html") Text spacing

  h3 Test 

  ul 
    li: a(href="/Reedable/docs/test/") Test page