extends ../assets/template/page

block title
  | Reedable | Docs

block header
  h1#header-h1(tabindex="-1")
    .Tag v1.2.0
    | Reedable Docs
    .SubHeading Because we really should have one of these

block content
  
  p Coming soon...