@xs: 320px;
@sm: 640px;
@md: 960px;
@lg: 1280px;

@xs-font-size: 14px;
@sm-font-size: 16px;
@md-font-size: 18px;
@lg-font-size: 18px;

:root {
  --background-color: #ffffff;
  --color: #333333;
  --color-alert: red;
  --color-link: blue;
  --color-link-visited: purple;
  --color-hr: #aaaaaa;
}

// Reset
.Reedable {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
  }
}

// rem definition
.Reedable {

  font-size: @xs-font-size;

  @media only screen and (min-width: @xs) {
    font-size: @sm-font-size;
  }

  @media only screen and (min-width: @sm) {
    font-size: @md-font-size;
  }

  @media only screen and (min-width: @md) {
    font-size: @lg-font-size;
  }

  @media only screen and (min-width: @lg) {
    font-size: @lg-font-size;
  }
}

// Default document structure
.Reedable {

  body {
    width: 100%;
    margin: 0;

    header {
      padding: 1rem 1rem 0 1rem;
    }

    main {
      padding: 0 1rem 0 1rem;
    }

    footer {
      padding: 0 1rem 1rem 1rem;
    }
  }

  p,
  pre {
    margin-top: 1rem;
  }

  h2 {
    margin-top: 2rem;
  }

  h3 {
    margin-top: 1.75rem;
  }

  h4 {
    margin-top: 1.5rem;
  }

  h5 {
    margin-top: 1.25rem;
  }

  h6 {
    margin-top: 1.125rem;
  }

  dl {
    margin-top: 1rem;

    dt {
      margin-top: 1rem;
    }

    dd {
      margin-top: 0.5rem;
      margin-left: 1rem;
    }
  }

  ol,
  ul {
    margin-top: 1rem;
    margin-left: 2rem;

    li {
      margin-top: 0.25rem;
    }
  }

  hr {
    border-top: 0.0625rem solid var(--color-hr);
    margin: 1rem 0;
  }

  @media only screen and (min-width: @xs) {}

  @media only screen and (min-width: @sm) {

    header {
      display: flex;
      justify-content: center;

      div {

        h1 {
          width: @sm;
        }

        .Byline {
          width: @sm;
        }
      }
    }

    main {
      display: flex;
      justify-content: center;

      &>div {

        &>* {
          width: @sm;
        }
      }
    }

    footer {
      display: flex;
      justify-content: center;

      &>div {

        &>* {
          width: @sm;
        }
      }
    }
  }

  @media only screen and (min-width: @md) {}

  @media only screen and (min-width: @lg) {}
}

// Custom objects
.Reedable {
  color: var(--color);
  background-color: var(--background-color);

  nav {

    ul {
      margin: 1rem 0 0 0;
      border-bottom: 0.0625rem solid var(--color-hr);

      li {
        display: inline-block;
        margin-left: 1rem;
        padding-bottom: 0.25rem;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  h1 {

    .Advisory {
      font-size: 0.375em; //relative to the parent element font-size
      font-weight: bolder;
      color: var(--color-alert);
    }

    .SubHeading {
      font-size: 0.5em; //relative to the parent element font-size
    }
  }

  .Byline {
    margin-top: 1rem;
    font-size: 0.875rem;
  }

  pre {
    overflow-x: auto;
    padding: 0.5rem;
    //box-shadow: inset 0 0.05rem 0.25rem black;
    border-radius: .25rem;
    font-family: "Courier New", Courier, Monospace;
    font-size: 75%;
  }

  a {
    color: var(--color-link);

    &:visited {
      color: var(--color-link-visited);
    }
  }

  .PictureFrame {
    margin-top: 1rem;
    box-shadow: 0 .1875rem .625rem black;
    border-radius: .25rem;
  }

  .QuestionAndAnswer {

    dt {

      &:before {
        content: "Question: ";
      }
    }

    dd {
      font-style: italic;

      &:before {
        content: "Answer: ";
      }
    }
  }
}